.env
.vscode/

flask_helloworld/.venv/
flask_helloworld/venv/
flask_helloworld/.dockerignore/

first_authentication/.venv/
first_authentication/venv/
first_authentication/.dockerignore/
first_authentication/__pycache__