name: Pipe-Test

on:
  push:
    branches: ["main"]

jobs:
  Integration:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Authentication
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
  
      - name: Build
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./first_authentication
          file: ./first_authentication/Dockerfile
          push: true
          tags: |
            luisoncode/first_authentication:v1
            luisoncode/first_authentication:latest
